@model List<Task>
@{

}
<h1>Home</h1>
<form action="@Url.Action(nameof(HomeController.AddTask))" method="post">
    <button type="submit">Add Task</button>
</form>
<ul>
    @foreach (var task in Model)
    {
        <li>@task.Id: @task.Name [@task.Completed]</li>
    }
</ul>
