
body {
    background-color: #eee;
}

#MainContent {
    background-color: white;
    margin-top: 50px;
}

.message {
    margin-top: 20px;
    white-space: pre-wrap;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 20px auto 20px;
}
