
body {
    background-color: #eee;
}

#MainContent {
    background-color: white;
    margin-top: 50px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto 20px;
}
